button,
input,
optgroup,
select,
textarea {
    font-family: "微软雅黑", "黑体"; /* 1 */
}

button {
    outline: 0;
    -webkit-appearance: button;
}

a {
    border: 0;
    padding: 0;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
    background-image: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #e2e2e2;
}

.btn-primary {
    background-color: #336699;
    border-color: #316498;
}

.btn-success {
    background-color: #119900;
    border-color: #149424;
}

.btn-info {
    background-color: #00aaff;
    border-color: #01aaf1;
}

.btn-warning {
    background-color: #ffbe5d;
    border-color: #f5b659;
}

.btn-danger {
    background-color: #ea4646;
    border-color: #ff4141;
}

.btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    color: #fff;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
    background-color: #dddddd;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #275079;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
    background-color: #0e841d;
}

.btn-info:hover, .btn-info:focus, .btn-info:active {
    background-color: #3399CC;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    background-color: #ff9800;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    background-color: #ff0000;
}